h1 {
	color: DeepSkyBlue;
	text-align: center;
}

p {
	color: blue;
	text-align: left;
}

h2 {
	color: DarkMagenta;
	text-align: center;
}
h3 {
	color: DarkMagenta;
	text-align: center;
}

p {
	color: blue;
background-color: gray;
}

margin: 0; 

ul  {
	list-style-type: none; /*Remove bullets*/
	background: Aquamarine;
	width: 100px; /*Reduce the size and width*/
	padding: 0; /*Removes left padding stuff from the list*/
	margin: 0; /*Removes white space from top*/
}

li a {
	display: block; /*Make the link use the whole width*/
	text-align: center;
	text-decoration: none;
	color: DarkMagenta;
	font-family: Arial;
	padding: 10px;
}

li a:hover {
	background: DarkTurquoise;
}




