h1 {
	color: RoyalBlue;
	text-align: center;
}

p {
	color: DarkMagenta;
	text-align: left;
}

h2 {
	color: DarkMagenta;
	text-align: center;
}

p {
	color: DarkMagenta;
}

a {
	color: Gray;
}

body{
	margin: 0;
}

ul  {
	list-style-type: none; /*Remove bullets*/
	background: Aquamarine;
	width: 100px; /*Reduce the size and width*/
	padding: 0; /*Removes left padding stuff from the list*/
	margin: 20; /*Removes white space from top*/
}

li a {
	display: block; /*Make the link use the whole width*/
	text-align: center;
	text-decoration: none;
	color: DarkMagenta;
	font-family: Arial;
	padding: 10px;
}

li a:hover {
	background: DarkTurquoise;
}

