h1 {
	color: RoyalBlue;
	text-align: center;
	margin: 0;
}

p {
	color: DarkMagenta;
	text-align: left;
}

h2 {
	color: DarkMagenta;
	text-align: center;
}

h3 {
	color: DarkMagenta;
	text-align: center;
}

p {
	color: DarkMagenta;
	text-align: center;
}

a {
	color: Gray;
}

body{
	margin: 0;
}

ul  {
	list-style-type: none; /*Remove bullets*/
	background: Aquamarine;
	width: 100px; /*Reduce the size and width*/
	padding: 0; /*Removes left padding stuff from the list*/
	margin: 0; /*Removes white space from top*/
}

li a {
	display: block; /*Make the link use the whole width*/
	text-align: center;
	text-decoration: none;
	color: DarkMagenta;
	font-family: Arial;
	padding: 10px;
}

li a:hover {
	background: DarkTurquoise;
}

h1 {
	margin: 0;
}

html {
	height: 100%;
}

body {
	background-image: url("http://cdn.pcwallart.com/images/new-york-city-skyline-2014-wallpaper-4.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
